# Sample Headline

*Note: This text will be italic.*

## Another Headline

This is a normap paragraph.

Basic formatting of *italics* and **bold** is supported. This *can be **nested** also.*

### What this notebook shows

1. How to get started with notebooks.
2. How to execute code.
3. How to add markdown.
4. And... other stuff.

In [ ]:
print('Hello Word')

In [ ]:
name = 'John'

In [ ]:
name

In [ ]:
name = 'Corey'

In [ ]:
!pip list

In [ ]:
%lsmagic

In [ ]:
%pwd

In [ ]:
%ls

In [ ]:
%matplotlib inline

In [ ]:
import numpy as np
import matplotlib.pyplot as plt


N = 50
x = np.random.rand(N)
y = np.random.rand(N)
colors =  np.random.rand(N)
area = np.pi * (15 * np.random.rand(N))**2 # to 15 point radiuses
plt.scatter (x, y, s=area, c=colors, alpha=0.5)
plt.show()

In [1]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/HW29067qVWk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

In [5]:
%%timeit
loop_range = range(1000)
square_events = [n*n for n in loop_range]

46.1 µs ± 647 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,5))
df.head()

          0         1         2         3         4
0  0.025221 -0.685097  0.996431  0.748293 -0.381964
1  0.772180 -1.214643  0.297736  0.677671 -0.027347
2  0.235009  0.801324 -0.935366  0.255354  0.157205
3  2.578836 -1.379385 -1.975644 -0.405525 -2.818053
4  0.147788  1.112660  0.282026 -0.087606  0.292909